.custom-icon span {
  color: red;
  width: 100%;
}

.custom-icon {
  float: left;
}
.custom-nadpis h1 {
  text-align: center;
}
.custom-backcolor-seda {
  background-color: #c9c9c9;
}
.custom-button-mamzajem {
  color: red;
  border: red;
}
.custom-pozadi-transparent {
  background-color: #00000000;
}
/*custom-img {
  height: 450px;
}
*/
.custom-button-prodano {
  background-color: red;
}
@media (max-width:640px){
  #menu{
    display: block;
  }
  #menu li a {
    min-height: 50px;
  }
  .menu{
    display: block!important;
  }
  .custom-nav-tlacitko{
    margin-bottom: 0;
  }
}
.custom-small-navbar span{
  width: 100%;
}
